<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header dark-background ta-center">
    <img class="header__logo" src="assets/images/week3/logo.png" alt="logo">
    <ul class="header__menu">
      <li><a href="#">系列鏡框</a></li>
      <li><a href="#">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="#">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>
  <div class="dark-background">
    <div class="footer container">
      <div class="footer__content">
        <div>
          <ul class="footer__content__menu mobile-none">
            <li><a href="#">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
          <ul class="footer__content__contact">
            <li>
              <img src="assets/images/week3/icon-phone.svg" alt="icon-phone">
              <p>0800-000-000</p>
            </li>
            <li>
              <img src="assets/images/week3/icon-mail.svg" alt="ail">
              <p>glasses@business.com</p>
            </li>
          </ul>
        </div>
        <ul class="footer__content__media">
          <li><a href=""><img src="assets/images/week3/icon-fb.svg" alt="fb"></a></li>
          <li><a href=""><img src="assets/images/week3/icon-ig.svg" alt="ig"></a></li>
          <li><a href=""><img src="assets/images/week3/icon-line.svg" alt="line"></a></li>
        </ul>
      </div>
      <div class="terms">
        <p class="terms__copy-right">Copyright © 2020 Glasses.All rights reserved.</p>
        <div class="terms__policy">
          <p>隱私權政策</p>
          <p>服務條款</p>
        </div>
      </div>
    </div>    
  </div>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
