html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff; }

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.dark-background {
  background-color: #AA0601;
  color: #fff; }

.light-background {
  background-color: rgba(170, 6, 1, 0.05);
  color: #000000; }

.banner {
  height: 840px;
  background: url(/assets/images/week3/banner.png) center no-repeat;
  padding-top: 348px;
  padding-right: 20%; }
  @media (max-width: 768px) {
    .banner {
      padding-top: 397px;
      padding-left: 10%; } }
  @media (max-width: 375px) {
    .banner {
      background-size: auto 394px;
      height: 394px;
      padding-top: 164px;
      padding-right: 5%; } }
  .banner__text-area {
    text-align: right;
    color: #650300; }
    .banner__text-area p {
      font-size: 36px; }
      @media (max-width: 768px) {
        .banner__text-area p {
          font-size: 20px; } }
      @media (max-width: 375px) {
        .banner__text-area p {
          font-size: 16px; } }
    .banner__text-area h1 {
      font-size: 64px;
      font-weight: bold; }
      @media (max-width: 768px) {
        .banner__text-area h1 {
          font-size: 48px; } }
      @media (max-width: 375px) {
        .banner__text-area h1 {
          font-size: 32px; } }

.about-work h2, .about-work h3 {
  color: #650300; }

.about-work h2 {
  font-size: 48px;
  font-weight: bold; }
  @media (max-width: 768px) {
    .about-work h2 {
      font-size: 32px; } }
  @media (max-width: 375px) {
    .about-work h2 {
      font-size: 24px; } }

.about-work h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 8px; }

.about-work__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 768px) {
    .about-work__menu {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 375px) {
    .about-work__menu {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .about-work__menu li {
    padding-left: 15px;
    padding-right: 15px;
    width: 255px; }
    @media (max-width: 768px) {
      .about-work__menu li {
        margin-bottom: 32px;
        margin-left: 50px;
        margin-right: 50px; } }
  .about-work__menu__icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .about-work__menu__icon img {
      width: 83px; }

.classical-area h2, .classical-area h3 {
  font-size: 48px;
  font-weight: bold; }

.classical-area h2 {
  color: #650300; }
  @media (max-width: 768px) {
    .classical-area h2 {
      font-size: 32px; } }
  @media (max-width: 375px) {
    .classical-area h2 {
      font-size: 20px; } }

.classical-area h3 {
  color: #AA0601;
  font-style: italic; }
  @media (max-width: 768px) {
    .classical-area h3 {
      font-size: 28px; } }

.classical-area__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 375px) {
    .classical-area__menu {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .classical-area__menu li {
    margin-bottom: 32px; }
    @media (max-width: 768px) {
      .classical-area__menu li {
        margin-bottom: 8px; } }
  .classical-area__menu__bg {
    height: 320px;
    width: 635px; }
    @media (max-width: 768px) {
      .classical-area__menu__bg {
        width: 390px;
        height: 168px; } }
    @media (max-width: 375px) {
      .classical-area__menu__bg {
        width: 345px;
        height: 134px; } }
  .classical-area__menu__bg1 {
    background: url(../images/week3/product-1.png) no-repeat center; }
  .classical-area__menu__bg2 {
    background: url(../images/week3/product-2.png) no-repeat center; }
  .classical-area__menu__bg3 {
    background: url(../images/week3/product-3.png) no-repeat center; }
  .classical-area__menu__position-controller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .classical-area__menu__position-controller img {
      margin-left: 110%;
      margin-right: 8px; }
    @media (max-width: 375px) {
      .classical-area__menu__position-controller {
        -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
                justify-content: center !important;
        -ms-flex-item-align: center !important;
            align-self: center !important; }
        .classical-area__menu__position-controller img {
          margin: 0 !important; }
        .classical-area__menu__position-controller h3 {
          margin: 0 !important; } }
  .classical-area__menu__position-controller-reverse {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .classical-area__menu__position-controller-reverse img {
      margin-left: 0; }
    .classical-area__menu__position-controller-reverse h3 {
      margin-right: 665px; }
    @media (max-width: 768px) {
      .classical-area__menu__position-controller-reverse {
        -ms-flex-item-align: start;
            align-self: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .classical-area__menu__position-controller-reverse img {
          margin-left: 110%; }
        .classical-area__menu__position-controller-reverse h3 {
          margin-right: 0; } }
  .classical-area__menu__icon {
    width: 48px;
    height: 48px; }
    @media (max-width: 768px) {
      .classical-area__menu__icon {
        width: 40px;
        height: 48px; } }
    @media (max-width: 375px) {
      .classical-area__menu__icon {
        width: 36px;
        height: 36px; } }

.joint-name {
  height: 705px;
  background: url(../images/week3/bg.png) no-repeat center; }
  @media (max-width: 768px) {
    .joint-name {
      height: 452px;
      max-width: 768px; } }
  @media (max-width: 375px) {
    .joint-name {
      max-width: 375px;
      height: 719px; } }
  .joint-name h2 {
    color: #fff;
    font-size: 48px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .joint-name h2 {
        font-size: 32px; } }
    @media (max-width: 375px) {
      .joint-name h2 {
        font-size: 20px; } }
  .joint-name__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 375px) {
      .joint-name__nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .joint-name__nav li {
      padding-left: 15px;
      padding-right: 15px; }
      @media (max-width: 768px) {
        .joint-name__nav li {
          margin-bottom: 16px; } }
    .joint-name__nav__bg {
      width: 540px;
      height: 455px; }
      @media (max-width: 768px) {
        .joint-name__nav__bg {
          width: 330px;
          height: 278px; } }
      @media (max-width: 375px) {
        .joint-name__nav__bg {
          width: 345px;
          height: 291px; } }
    .joint-name__nav__bg1 {
      background: url(../images/week3/product-8.png) no-repeat center;
      background-size: 100%; }
    .joint-name__nav__bg2 {
      background: url(../images/week3/product-9.png) no-repeat center;
      background-size: 100%;
      overflow: hidden; }
    .joint-name__nav__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #AA0601;
      font-size: 72px;
      font-weight: bold; }
      @media (max-width: 768px) {
        .joint-name__nav__text {
          font-size: 32px; } }

.recommand h2 {
  font-size: 48px;
  font-weight: bold;
  color: #650300; }
  @media (max-width: 768px) {
    .recommand h2 {
      font-size: 32px; } }
  @media (max-width: 375px) {
    .recommand h2 {
      font-size: 20px;
      line-height: 48px; } }

.recommand__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .recommand__nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .recommand__nav li {
    width: 23%;
    height: 460px; }
    @media (max-width: 768px) {
      .recommand__nav li {
        width: 47%;
        margin-bottom: 32px; } }
    @media (max-width: 375px) {
      .recommand__nav li {
        width: 100%;
        margin-bottom: 16px; } }
  .recommand__nav__card {
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px; }
    .recommand__nav__card__pic {
      border-radius: 4px 4px 0 0;
      width: 100%; }
    .recommand__nav__card__text-area {
      padding: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 200px; }

.contact-us {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 768px) {
    .contact-us {
      max-width: 450px; } }
  @media (max-width: 375px) {
    .contact-us {
      max-width: 345px; } }
  .contact-us h2 {
    font-size: 48px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .contact-us h2 {
        font-size: 32px; } }
    @media (max-width: 375px) {
      .contact-us h2 {
        font-size: 20px; } }
  .contact-us__form {
    font-size: 20px; }
    .contact-us__form li {
      margin-bottom: 8px; }
      .contact-us__form li p {
        font-size: 16px;
        margin-bottom: 4px; }
        @media (max-width: 768px) {
          .contact-us__form li p {
            font-size: 14px;
            margin-bottom: 3px; } }
        @media (max-width: 375px) {
          .contact-us__form li p {
            margin-bottom: 4px; } }
      .contact-us__form li input[type="text"] {
        background-color: transparent;
        width: 100%;
        height: 50px;
        text-indent: 16px;
        border: 1px solid #000; }
        @media (max-width: 768px) {
          .contact-us__form li input[type="text"] {
            height: 36px;
            text-indent: 14px; } }
      .contact-us__form li textarea {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 9px;
        background-color: transparent;
        resize: none;
        width: 100%;
        height: 136px; }
        @media (max-width: 768px) {
          .contact-us__form li textarea {
            height: 100px; } }
    .contact-us__form__checkbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .contact-us__form__btn {
      color: #fff;
      background-color: #AA0601;
      width: 210px;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      margin-top: 32px; }
      @media (max-width: 768px) {
        .contact-us__form__btn {
          margin-top: 12px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px; }
  @media (max-width: 768px) {
    .header {
      padding: 30px 39px; } }
  @media (max-width: 375px) {
    .header {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .header__logo {
    width: 80px; }
    @media (max-width: 375px) {
      .header__logo {
        width: 48px;
        padding-top: 10px;
        padding-bottom: 10px; } }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 375px) {
      .header__menu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .header__menu li {
      padding-left: 64px; }
      @media (max-width: 768px) {
        .header__menu li {
          padding-left: 40px; } }
      @media (max-width: 375px) {
        .header__menu li {
          width: 50%;
          border: 1px solid #fff;
          padding: 8px 50px; } }
      .header__menu li a:hover {
        color: #650300; }

.footer {
  padding-top: 32px;
  padding-bottom: 39px; }
  @media (max-width: 768px) {
    .footer {
      padding-bottom: 32px; } }
  @media (max-width: 375px) {
    .footer {
      padding-top: 24px;
      padding-bottom: 24px; } }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 24px; }
    @media (max-width: 768px) {
      .footer__content {
        padding-bottom: 20px; } }
    @media (max-width: 375px) {
      .footer__content {
        padding-bottom: 24px; } }
    .footer__content__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 36px; }
      .footer__content__menu li {
        margin-right: 48px;
        font-size: 16px; }
        @media (max-width: 768px) {
          .footer__content__menu li {
            margin-right: 40px; } }
        .footer__content__menu li a:hover {
          color: #650300; }
    .footer__content__contact li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 30px; }
      @media (max-width: 768px) {
        .footer__content__contact li {
          margin-bottom: 17px; } }
      @media (max-width: 375px) {
        .footer__content__contact li {
          margin-bottom: 12px; } }
      .footer__content__contact li img {
        max-width: 36px;
        margin-right: 20px; }
        @media (max-width: 768px) {
          .footer__content__contact li img {
            max-width: 18px;
            margin-right: 15px; } }
        @media (max-width: 375px) {
          .footer__content__contact li img {
            max-width: 15px;
            margin-right: 5px; } }
      .footer__content__contact li p {
        font-size: 36px; }
        @media (max-width: 768px) {
          .footer__content__contact li p {
            font-size: 20px; } }
        @media (max-width: 375px) {
          .footer__content__contact li p {
            font-size: 16px; } }
    .footer__content__media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer__content__media li {
        margin-left: 32px; }
        @media (max-width: 768px) {
          .footer__content__media li {
            margin-left: 24px; } }
        .footer__content__media li a {
          max-width: 48px; }
          @media (max-width: 768px) {
            .footer__content__media li a {
              max-width: 24px; } }

.terms {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .terms {
      padding-top: 24px; } }
  @media (max-width: 375px) {
    .terms {
      padding-top: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .terms__copy-right {
    font-size: 16px; }
    @media (max-width: 375px) {
      .terms__copy-right {
        font-size: 14px;
        margin-bottom: 8px; } }
  .terms__policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px; }
    @media (max-width: 375px) {
      .terms__policy {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .terms__policy p {
      margin-left: 48px; }
      @media (max-width: 768px) {
        .terms__policy p {
          margin-left: 24px; } }
      @media (max-width: 375px) {
        .terms__policy p {
          margin-left: 0;
          margin-bottom: 8px; } }

@media (max-width: 375px) {
  .mobile-none {
    display: none; } }

.ta-center {
  text-align: center; }

.pt-7-5-4-rwd {
  padding-top: 56px; }
  @media (max-width: 768px) {
    .pt-7-5-4-rwd {
      padding-top: 40px; } }
  @media (max-width: 375px) {
    .pt-7-5-4-rwd {
      padding-top: 32px; } }

.pb-10-7-5-rwd {
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .pb-10-7-5-rwd {
      padding-bottom: 56px; } }
  @media (max-width: 375px) {
    .pb-10-7-5-rwd {
      padding-bottom: 40px; } }

.mb-6-5-4-rwd {
  margin-bottom: 48px; }
  @media (max-width: 768px) {
    .mb-6-5-4-rwd {
      margin-bottom: 40px; } }
  @media (max-width: 375px) {
    .mb-6-5-4-rwd {
      margin-bottom: 32px; } }

.mb-3-2-1-rwd {
  margin-bottom: 24px; }
  @media (max-width: 768px) {
    .mb-3-2-1-rwd {
      margin-bottom: 16px; } }
  @media (max-width: 375px) {
    .mb-3-2-1-rwd {
      margin-bottom: 8px; } }

.ml-r-0 {
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 375px) {
  .mb-0-mobile {
    margin-bottom: 0; } }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-1 {
  margin-bottom: 8px !important; }

.text-s {
  font-size: 14px !important; }

.gray {
  color: #707070; }

.inline {
  display: inline; }

/*# sourceMappingURL=all.css.map */
